@import url("https://fonts.googleapis.com/css2?family=Alegreya+Sans+SC:ital,wght@0,100;0,300;0,400;0,500;0,700;0,800;0,900;1,100;1,300;1,400;1,500;1,700;1,800;1,900&display=swap");

:root {
  --primary-color: #1f1f1f;
  --secondary-color: #e2004b;
  --button-hover: #ff0055;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
button {
  font-family: "Alegreya Sans SC", sans-serif;
}

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
}

.content-wrapper {
  display: flex;
  max-width: 1080px;
  margin: 0 auto;
  padding: 0.5rem 3rem;
  justify-content: space-between;
  align-items: center;
}

.header {
  width: 100%;
  box-shadow: 0 0 10px 1px rgb(206, 206, 206);
}

.logo {
  height: 60px;
  width: 60px;
  -o-object-fit: contain;
  object-fit: contain;
}

.navigation ul {
  display: flex;
  list-style: none;
  gap: 2rem;
}

.nav-link {
  text-transform: uppercase;
  font-size: 1rem;
  text-decoration: none;
  color: var(--primary-color);
  transition: 0.3s;
}

.nav-link:hover,
.active {
  color: var(--button-hover);
}

.footer {
  display: flex;
  height: 60px;
  width: 100%;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  box-shadow: 0 0 10px 1px rgb(206, 206, 206);
}

ul.icons {
  display: flex;
  gap: 4px;
  list-style: none;
  font-size: 1.5rem;
}

ul.icons a {
  color: var(--secondary-color);
  transition: 0.3s;
}

ul.icons a:hover {
  color: var(--button-hover);
}

.main {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
}

.home-page {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 1080px;
  align-items: center;
}

.profits {
  margin-top: 4rem;
  display: flex;
  gap: 2rem;
}

.profit {
  display: flex;
  flex-direction: column;
  width: 10rem;
  align-items: center;
  box-shadow: 0 0 5px 3px rgb(240, 240, 240);
}

.profit img {
  margin: 1rem;
  height: 6rem;
  width: 6rem;
  -o-object-fit: contain;
  object-fit: contain;
}

.profit p {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  text-align: center;
  padding: 1rem 0.7rem;
  color: var(--primary-color);
  border-top: 1px solid rgb(235, 235, 235);
  /* box-shadow: 0 0 10px 1px rgb(231, 231, 231); */
}

.welcome-msg {
  margin-top: 2rem;
  text-align: center;
  text-transform: uppercase;
}

.welcome-msg img {
  height: 8rem;
  width: 8rem;
  -o-object-fit: contain;
  object-fit: contain;
}

.welcome-msg h1 {
  font-weight: 500;
}

main p.first-paragraph {
  margin-top: 2rem;
  font-weight: 400;
}

.actions {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 4rem;
}

.actions p {
  margin-bottom: 2rem;
}

.actions button {
  padding: 1.3rem 4rem;
  width: 300px;
  background-color: var(--secondary-color);
  border: none;
  border-radius: 5px;
  color: white;
  text-transform: uppercase;
  font-size: 1.1rem;
  font-weight: 400;
  cursor: pointer;
  transition: 0.3s;
}

.actions button:hover {
  background-color: var(--button-hover);
}

#modal::-webkit-backdrop {
  background-color: rgba(0, 0, 0, 0.7);
}

#modal::backdrop {
  background-color: rgba(0, 0, 0, 0.7);
}

#modal {
  position: fixed;
  overflow: visible;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: none;
  box-shadow: 0 0 15px 5px rgba(0, 0, 0, 0.377);
}

#modal[open] {
  -webkit-animation: slide-in 0.2s ease-in;
  animation: slide-in 0.2s ease-in;
}

#modal.hide {
  -webkit-animation: slide-out 0.2s ease-out;
  animation: slide-out 0.2s ease-out;
}

.modal-content {
  display: flex;
  width: 650px;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem 1rem;
}

.modal-content h2 {
  font-weight: 400;
}

#modal-close,
#form-submit {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 30px;
  background-color: var(--secondary-color);
  border: none;
  border-radius: 3px;
  cursor: pointer;
  color: white;
  font-size: 1.3rem;
  line-height: 100%;
}

#modal-close {
  position: absolute;
  top: 1rem;
  right: 0;
  width: 30px;
  transform: translateY(-200%);
}

.form-actions {
  display: flex;
  margin-top: 1rem;
  justify-content: space-between;
}

#form-submit {
  padding: 0 1rem;
  text-align: right;
}

#modal-close:hover,
#form-submit:hover {
  background-color: var(--button-hover);
}

.inputs {
  display: flex;
}

#task-input,
#task-date {
  height: 50px;
  width: 500px;
  padding-left: 1rem;
  line-height: 40px;
  font-size: 1.1rem;
  border: none;
  border-bottom: 1px solid var(--primary-color);
  background-color: rgb(247, 247, 247);
}

#task-input {
  width: 75%;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

#task-date {
  width: 25%;
  border-left: none;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

#task-input:focus,
#task-date:focus {
  outline: none;
  border-color: var(--secondary-color);
}

#validation-message {
  opacity: 0;
}

#validation-message.error {
  color: rgb(202, 20, 20);
  opacity: 1;
}

#validation-message.success {
  color: rgb(0, 143, 24);
  opacity: 1;
}

@-webkit-keyframes slide-in {
  from {
    top: 55%;
  }

  to {
    top: 50%;
  }
}

@keyframes slide-in {
  from {
    opacity: 0;
    top: 52%;
  }

  to {
    opacity: 1;
    top: 50%;
  }
}

@-webkit-keyframes slide-out {
  from {
    opacity: 1;
    top: 50%;
  }

  to {
    opacity: 0;
    top: 52%;
  }
}

@keyframes slide-out {
  from {
    opacity: 1;
    top: 50%;
  }

  to {
    opacity: 0;
    top: 52%;
  }
}

.tasks-page {
  width: 100%;
  align-items: center;
  justify-content: center;
}

.tasks-lists {
  display: flex;
  margin-top: 3rem;
  padding: 1rem;
  /* background-color: gray; */
}

.tasks-lists h2 {
  text-align: center;
  color: var(--secondary-color);
  text-transform: uppercase;
}

.tasks-lists h3 {
  margin-top: 4px;
}

.tasks-list {
  display: flex;
  gap: 1rem;
  justify-content: center;
  list-style: none;
  padding: 1rem;
}

.tasks-list li {
  padding: 1rem;
  opacity: 1;
  box-shadow: 0 0 5px 3px rgb(240, 240, 240);
}

.new-task {
  -webkit-animation: showTask 0.4s ease-in;
  animation: showTask 0.4s ease-in;
}

.active-tasks {
  padding-right: 1rem;
  flex-grow: 1;
  border-right: 1px solid rgb(216, 216, 216);
}

.active-tasks h3 {
  margin-top: 4px;
}

.active-tasks ul {
  flex-wrap: wrap;
}

.active-tasks li {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 45%;
  max-width: 300px;
  flex-wrap: wrap;
}

.past-tasks {
  padding-left: 1rem;
  width: 20%;
  min-width: 300px;
}

.past-tasks ul {
  flex-direction: column;
}

.past-tasks li {
  width: 100%;
}

.progress-bar {
  margin-top: 1rem;
}

progress {
  accent-color: var(--secondary-color);
}

.task-actions {
  display: flex;
  justify-content: space-between;
}

.task-actions button {
  width: 1.4rem;
  height: 1.4rem;
  border: none;
  background-color: transparent;
  color: var(--secondary-color);
  transition: 0.2s;
  cursor: pointer;
}

.task-actions button:hover {
  color: var(--button-hover);
}

.task-actions button.complete {
  font-size: 1.2rem;
  color: rgb(0, 201, 0);
}

.task-actions button.complete:hover {
  color: rgb(0, 255, 0);
}

@-webkit-keyframes showTask {
  0% {
    opacity: 0;
    transform: scale(1);
  }
  50% {
    opacity: 1;
    transform: scale(1.05);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes showTask {
  0% {
    opacity: 0;
    transform: scale(1);
  }
  50% {
    opacity: 1;
    transform: scale(1.05);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
